/*
*quanjuæ ·å¼Â
*/
body,html{
    font-family:"Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

}
/*å­—ä½“å›¾æ ‡*/
@font-face{
    /*å¯ä»¥è‡ªå·±è®¾ç½®åå­—*/
    font-family:"itcast";
    /*å››ç§å¿…é¡»éƒ½å†™*/
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.svg') format('svg'),
    url('../font/MiFie-Web-Font.ttf') format('truetype'),
    url('../font/MiFie-Web-Font.woff') format('woff');
}
[class^="icon-"],[class*=" icon-"]{
    font-family: "itcast";
    font-style:normal;
}
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}
.icon-icon::before {
    content: "\e920";
}
.icon-logo::before {
    content: "\e93e";
}










/*
* å¤´éƒ¨å¼€å§‹Â
*/
#header{
    /*height:200px;*/

}
#header>.topbar{
    height:40px;
    line-height: 40px;
    border-bottom:1px solid #c0c0c0;
}
#header>.topbar>.container>.row>div{
    height:40px;
    font-size: 12px;
    color:#888;

}
/*Ã©â‚¬â€°Ã¦â€¹Â©divÃ¥ÂÅ½Ã©ÂÂ¢Ã§Å¡â€žÃ¦â€°â‚¬Ã¦Å“â€°Ã§â€ºÂ¸Ã¥ÂÅ’Ã§Å¡â€žÃ¥â€¦â€žÃ¥Â¼Å¸div*/
#header>.topbar>.container>.row>div+div{
    border-left:1px solid #ccc;
}
#header .mobile-link{
    font-size: 12px;
    color:#888;
}
#header .mobile-link>img{
    display:none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 27px;
    z-index:1001;
}
#header .mobile-link:hover{
    text-decoration: none;
}
#header .mobile-link:hover>img{
    display: block;

}
#header .icon-icon{

    font-size: 50px;

    color: #E9232C;

    line-height: 50px;

    vertical-align: middle;
}
#header .icon-logo{

    font-size: 32px;

    color: #333;

    line-height: 50px;

    vertical-align: middle;
}
/*#header>.topbar>.container>.row{*/
/*background-color: #f40;*/
/*height:40px;*/
/*}*/
/*#header>.topbar>.container>.row>div:nth-of-type(2n){*/
/*background-color: red;*/
/*height:40px;*/
/*}*/


/*lunbotu*/
#main_ad{

}
#main_ad>.carousel-inner>.item{
    /*/!*height: 410px;*!/å½“æ’­æ”¾å°å›¾ç‰‡çš„æ—¶å€™ä¸èƒ½è®¾ç½®è¿™ä¸ªé«˜åº¦ï¼Œåªæœ‰åœ¨æ’­æ”¾å¤§çš„èƒŒæ™¯å›¾æ—¶æ‰èƒ½ä½¿ç”¨*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;

}
/*//  ä½¿ç”¨åª’ä½“æŸ¥è¯¢çš„æ–¹å¼  å½“æœ€å°å®½åº¦ä¸º768çš„æ—¶å€™é«˜åº¦ä¸º410px*/
@media (min-width:768px){
    #main_ad>.carousel-inner>.item {
        height: 410px;
    }

}

#main_ad>.carousel-inner>.item>img{
    width:100%;
}



/*ç‰¹è‰²åŒº*/
#tese{
    padding:50px 0;
    border-bottom:1px solid #c0c0c0;
}
.icon-uniE907:before {
    content: "\e907";
}
#tese i{
    font-size:34px;
}
#tese>.container>.row>div{
    margin-bottom:20px;
    margin-top:20px;
}


/*ç«‹å³é¢„çº¦*/

#ljyy{
    border-bottom:1px solid #c0c0c0;
    padding:20px 0;
}
#ljyy>.container>p{
    /*line-height:50px;*/
    font-size:14px;
    margin-bottom:0;
}
#ljyy>.container>p>a:hover{
    text-decoration:none;
}
#ljyy>.container>.pull-left>span,
#ljyy>.container>.pull-left>a{
    color:#e92322;
}
#ljyy>.container>.pull-left>a{
    border-bottom:1px dashed #e92322
}
.icon-uniE906:before {
    content: "\e906";
}
.icon-uniE905:before {
    content: "\e905";
}
/*#tese>.container>.row>div{*/
/*height:50px;*/
/*background-color: #f40;*/
/*}*/
/*#tese>.container>.row>div:nth-of-type(2n){*/
/*background-color: blue;*/
/*}*/



/*
*äº§å“æŽ¨è
*/
#products{
    padding:40px 0;
    background-color: #f0f0f0;
}
/*这里不能将滚动条写死，不然在PC端始终有滚动条*/
/*#products>.container>.ul-warpper{*/
    /*overflow-x:scroll;*/
/*}*/
#products>.container>.ul-warpper>.nav-tabs{
padding-left:20px;
}
#products>.container>.ul-warpper>.nav-tabs>li{

}
#products>.container>.ul-warpper>.nav-tabs>li>a{
    font-size:16px;
    color: #555;
}
#products>.container>.ul-warpper>.nav-tabs>li>a:hover{

    background-color: transparent;

    color: #000;
}
#products>.container>.ul-warpper>.nav-tabs>li.active>a{

    background-color: transparent;

    border: 0;

    border-bottom: 3px solid #e92322;
}
#products>.container>.ul-warpper>.nav-tabs>li.active{

}
#products>.container>.tab-content{
    padding:20px 0;
}
#products>.container>.tab-content p{
    margin-bottom:0;
    /* margin: 0; */
}




/*
*bootstrapÃ¦â€°Â©Ã¥Â±â€¢Ã¦Â Â·Ã¥Â¼Â
*/

.panel.panel-itcast{

border-radius: 0;

box-shadow: 1px 1px 5px #ccc;
    border:0;
}
.panel-itcast.active{
    background-color: #e92322;
    color: #fff;
}
.panel-itcast.active::before{
    content: "\e915";
    font-family: itcast;
    font-size: 30px;
    position: absolute;
    top: -6px;
    left: 14px;
}
.panel-itcast.disabled{
    background-color: #e0e0e0;
}
.panel-itcast > .panel-heading {
    /* color: #333; */
    /* background-color: #f5f5f5; */
    /* border-color: #ddd; */
    float: right;
    padding: 0;
    width: 120px;
    height:150px;
    position:relative;
    border-left: 1px dashed #c0c0c0;
    padding: 45px 0 0 45px;
}

.panel-heading {}
.panel-itcast > .panel-body{
    margin-right:120px;
    height:150px;

}

.panel-itcast > .panel-heading::before,
.panel-itcast > .panel-heading::after{
    content:" ";
    position:absolute;
    width:16px;
    height:16px;
    border-radius:8px;
    background-color: #f0f0f0;

}
.panel-itcast > .panel-heading::before{

top: -8px;

left: -8px;
}
.panel-itcast > .panel-heading::after{
bottom: -8px;
left: -8px;
box-shadow: 0 1px 1px #ccc inset;
}
.panel-itcast > .panel-heading>p>strong{
    font-size:30px;
}
.panel-itcast > .panel-heading>.tooltips{
    width:100%;
    position:absolute;
    top: 22px;
}
.panel-itcast > .panel-heading>.tooltips>a{
    
}
.panel-itcast > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-itcast > .panel-heading .badge {
    width:20px;
    height:20px;
    border-width:1px;
    border-style:solid;
    border-radius: 0;
    padding: 3px;
    background-color: transparent;
}
.panel-itcast > .panel-heading .badge-one {
    border-color:#e92322;
    color:#e92322;
}
.panel-itcast > .panel-heading .badge-two {
    color: #366;
   border-color:#366;
}
.panel-itcast > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}





/*新闻版块*/

#news{
padding:50px 0;
    border-bottom:1px solid #c0c0c0;
}
#news .news-title{
    padding:15px 0;
    border-bottom:1px dashed #c0c0c0;
    font-size:18px;
    font-weight: 400;
    text-align:center;
    position:relative;
    margin-right:10px;
}
#news .news-title::after{
    content:" ";
    width:10px;
    height:10px;
    border-radius:5px;
    border:1px solid #c0c0c0;
    position:absolute;
    bottom:-5px;
    right:-10px;
}
@media (max-width:768px){
    #news .nav-stacked > li {
        float: left;
        margin-right:20px;
    }
}
#news .nav-pills>li{
  
}
#news .nav-pills>li.active a{
    width:60px;
    height:60px;
    background-color: #e92322;
    border:1px solid #e92322;
    border-radius:30px;
}
.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}



/*hezuohuoban*/

#hzhb{
    padding:30px 0;
}
#hzhb ul{
    padding:0;
    list-style: none;
    width:818px;
    position:relative;
    overflow:hidden;

}
#hzhb ul li{
    float:left;
}
#hzhb ul li+li{
    border-left:1px solid #e0e0e0;
}
#hzhb ul li a{
    color:#888;
   padding:10px 20px;
    font-size:50px;

}
#hzhb ul li a:hover{
    text-decoration: none;
}
.icon-uniE930:hover {
    color: #df3232;
}

.icon-uniE930:before {
    content: "\e946";
}

.icon-uniE92F:hover {
    color: #e8380d;
}

.icon-uniE92F:before {
    content: "\e92f";
}

.icon-uniE92E:hover {
    color: #ed6f00;
}

.icon-uniE92E:before {
    content: "\e92e";
}

.icon-uniE92A:hover {
    color: #159f69;
}

.icon-uniE92A:before {
    content: "\e92a";
}

.icon-uniE929:hover {
    color: #07569e;
}

.icon-uniE929:before {
    content: "\e929";
}

.icon-uniE931:hover {
    color: #004098;
}

.icon-uniE931:before {
    content: "\e931";
}

.icon-uniE92C:hover {
    color: #d32019;
}

.icon-uniE92C:before {
    content: "\e92c";
}

.icon-uniE92B:hover {
    color: #3eac4a;
}

.icon-uniE92B:before {
    content: "\e92b";
}

.icon-uniE92D:hover {
    color: #2bb289;
}

.icon-uniE92D:before {
    content: "\e92d";
}







.btn-itcast {
    color: #ffffff;
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    color: #ffffff;
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-itcast .badge {
    color: #E9232C;
    background-color: #ffffff;
}



.navbar-itcast {
    background-color: #fff;
    border-color: #f5f5f5;
    top: 0;
    width: 100%;
}
.navbar-itcast .navbar-brand {
    color: #777;
    height:80px;
}
.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-itcast .navbar-text {
    color: #777;
}
.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 48px;
}
.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #E9232C;
}
.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #E9232C;
}
.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}
.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}
.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 7678px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-itcast .navbar-link {
    color: #777;
}
.navbar-itcast .navbar-link:hover {
    color: #333;
}
.navbar-itcast .btn-link {
    color: #777;
}
.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}
.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}

